{% extends 'padaria/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Clientes Cadastrados:</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>telefone</th>
        </tr>
        {% for client in clientes %}
        <tr>
            <td>{{client.id_cliente}}</td>
            <td>{{client.nome}}</td>
            <td>{{client.telefone}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}