{% extends 'Padaria/base.html' %}
{% block conteudo %}
{% load static %}
<div id="dov">
  <img src="{% static 'img/pao.png' %}" alt="pão" width="">
  <main>
    <section>
      <h3>Sobre nós</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum praesentium ipsam dignissimos quisquam
        facilis
        impedit, dolor error debitis maiores ea doloremque dolorem, fugiat quo consequuntur sed ad saepe veniam labore.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit est molestiae quia, consequatur, tempore
        dolorem, illo repudiandae corporis quisquam optio excepturi obcaecati aspernatur? Molestias quis sit tempore
        laudantium repellendus pariatur!</p>
    </section>
  </main>
</div>
<form action="{% url 'listagem_clientes' %}" method="post">
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1>Cadastro de Clientes</h1>
    Nome: <input name="nome" class="form-control-sm" type="text">
    Telefone: <input name="telefone" class="form-control-sm" type="text">
    <button class="form-control-sm">Enviar</button>
  </div>
</form>
{% endblock %}